
<template name="howto">
    <div class="page auth">
        <nav>
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
            </div>
        </nav>

        <div class="content-scrollable">
            <div class="wrapper-auth">
                <h1 class="title-auth">How to use Re-tent.</h1>
                <p class="subtitle-auth"><ul>
                <li><b>1.</b> Enter a few simple details about the item you want to recycle</li><br><br>
                <li><b>2.</b> Take a photo of the item using the app</li><br><br>
                <li><b>3.</b> Pack it down and stick a QR code on the outside of the case</li><br><br>
                <li><b>4.</b> Scan the QR code sticker through the app</li><br><br><br>
                <li>That's it! You can hand the item in to your collection point :)</li>
                </ul></p>

            </div>

            <br><br><br><a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
        </div>
    </div>
</template>